/* base.html */
.main{
	margin-top: 70px;
}


.main h1{
	font-size: 50px;
	font-family: monospace;
	padding: 0px 20px;
	font-weight: bold;
	text-align: center;
}

.main h3{
	font-size: 20px;
	font-family: monospace;
	padding: 0px 20px;
	text-align: center;
}

.navbar{
	font-size: 20px;
	font-family: monospace;
}

.navbar h5{
	font-size: 20px;
	font-family: monospace;
}

.navbar a{
	font-size: 20px;
	font-family: monospace;
}

/* home.html  */
.quote-body	{
	padding-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
}



.wrapper{
	width: 605px;
	background: #fff;
	border-radius: 15px;
	padding: 30px 30px 25px;
	box-shadow: 0 12px 35px rgba(0,0,0,0.5);
}

.wrapper .todo-center{
	font-size: 18px;
	text-align: center;
	padding-top: 10px;
}

header, .content :where(i, p, span){
	color: #202842;
}
.wrapper header{
	font-size: 35px;
	font-family: monospace;
	font-weight: 600;
	text-align: center;
}
.wrapper .content{
	margin: 35px 0;
}
.content .quote-area{
	display: flex;
	justify-content: center;
}
.quote-area i{
	font-size: 15px;
}
.quote-area i:first-child{
	margin: 3px 10px 0 0;
}
.quote-area i:last-child{
	display: flex;
	margin: 0 0 3px 10px;
	align-items: flex-end;
}
.quote-area .quote{
	font-size: 22px;
	text-align: center;	
	word-break: break-word	;
}
.content .author{
	display: flex;
	font-size: 18px;
	margin-top: 20px;
	font-style: italic;
	justify-content: flex-end;
}
.author span:first-child{
	margin: -7px 5px 0 0;
	font-family: monospace;
}
.wrapper .buttons{
	border-top: 1px solid #ccc;
}
.buttons .features{
	display: flex;
	margin-top: 20px;
	align-items: center;
	justify-content: space-between;
}
.features ul{
	display: flex;
}
.features ul li{
	margin: 0 5px;
	height: 47px;
	width: 47px;
	display: flex;
	cursor: pointer;
	color: #5372F0;
	list-style: none;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	border: 2px solid #5372F0;
	transition: all 0.3s ease;
}
.features ul li:first-child{
	margin-left: 0;
}
.features ul li:is(:hover, .active){
	color: #fff;
	background: #5372F0;
}
.features ul .speech.active{
	pointer-events: none;
}
.buttons button{
	border: none;
	color: #fff;
	outline: none;
	font-size: 16px;
	font-family: monospace;
	cursor: pointer;
	padding: 13px 22px;
	border-radius: 30px;
	background: #5372F0;
	cursor: pointer;
	transition: all 0.3s ease;
}
.buttons button.loading{
	opacity: 0.7;
	pointer-events: none;
}

/* register.html and login.html*/
.form-group{
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;

}

.form-group .button-container{
	text-align: center;
}

.form-group .btn-success{
	font-family: monospace;
	padding: 13px 22px;
	border-radius: 30px;
	background: #5372F0;
	margin: 20px 0 20px 0;
	width: 200px;
}

/* todo */
.task-wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

.task-title a{
	text-decoration: none;
	color: black;
	font-size: 18px;
	font-family: monospace;
	margin-left: 5px;
}

.delete-link{
	text-decoration: none;
	font-size: 30px;
}

.delete-question{
	font-family: monospace;
	text-align: center;
}

.back-button-container .back-button{
	text-decoration: none;
	color: black;
	font-size: 30px;
}

.back-button-container .back-button:is(:hover, .active){
	color: #e8e8e8;
	cursor: pointer;
	transition: all 0.3s ease;
}

.back-button-container{
	text-align: right;
	padding-right: 10px;
}

.form-search{
	border:1px solid grey;
	padding: 2px 2px 2px 2px;
}

.form-search button{
	background: white;
	border: none;
	outline: none;
}

.form-search input{
	background: white;
	text-align: center;
	border: none;
	outline: none;
	width: 280px;
}

.form-search input.active{
	outline: none;
}

/* nearby library */


.result-content{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.search-result .result-content-name{
	font-size: 20px;
	font-family: monospace;
	margin-top: 0px;
	margin-bottom: 0px;
}

.result-content .result-content-address{
	color: #525252;
	font-size: 15px;
	font-family: monospace;
	margin-top: 0px;
	margin-bottom: 0px;
}


#btn-search{
	font-family: monospace;
	padding: 13px 22px;
	border-radius: 30px;
	background: #5372F0;
	margin: 20px 0 20px 0;
	width: 200px;
}

.wrapper .search-btn-container{
	text-align: center;
}

.result-content{
	font-size: 15px;
}

.search-result .search-title{
	margin-left: 10px;
	margin-top: 20px;
	font-size: 20px;
	font-family: monospace;
}

/* formula */
.wrapper .formula-content p{
	padding-top: 20px;
	font-family: ;
	font-size: 20px;
	font-family: monospace;
	margin: 0 10px 20px 10px;
	word-break: break-all;
}

.wrapper .formula-content p a{
	font-size: 18px;
	font-family: monospace;
}

/*pomodoro*/

.title {
	text-align: center;
	color: var(--title);
	font-size: 10vw;
	text-align: center;
}

.glass {
	display: flex;
	padding-top: 10px;
	padding-bottom: 20px;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.modeSelector {
	display: flex;
	justify-content: space-around;
}

.modeSelector__Button {
	font-family: monospace;
	display: flex;
	font-size: 20px;
	background: none;
	border-radius: 10px;
	border: none;
	outline: none;
	color: var(--buttons);
	padding: 10px;
	margin: 0px 20px;
	justify-content: center;
	align-items: center;
}

.modeSelector__Button.active {
	text-decoration: underline;
	cursor: pointer;
}

.modeSelector__Button:is(:hover, .active){
	color: #5372F0;
	cursor: pointer;
	transition: all 0.3s ease;
}

.timer {
	color: var(--timer);
	font-size: 100px;
	/* margin: 20; */
}

.timerControl {
	padding-top: 20px;
	display: flex;
	color: var(--buttons);
	font-size: 50px;
	align-items: center;
	text-align: center;
}

