{% extends 'mainfunction/base.html' %}

{% block title %}{{title}}{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<h1>{{page}}</h1>
<div class="quote-body">
	<div class="wrapper">
		<div class="back-button-container">
			<a href="{% url 'tasks' %}" class="back-button">&#215</a>
		</div>
		<form method="POST" action="" class="form-group">
			{{form|crispy}}
			{% csrf_token %}
			<div class="button-container">
				<input type="submit" value="Submit" class="btn btn-success">
			</div>
		</form>
	</div>
</div>



{% endblock %}