{% extends 'mainfunction/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Home Page</h1>
<div class="quote-body">
	<div class="wrapper">
		<header>Quote of the Day</header>
		<div class="content">
			<div class="quote-area">
				<i class="fas fa-quote-left"></i>
				<p class="quote"></p>
				<i class="fas fa-quote-right"></i>
			</div>
			<div class="author">
				<span>__</span>
				<span class="name">Mary Kay Ash</span>
			</div>
		</div>
		<div class="buttons">
			<div class="features">
				<ul>
					<li class="speech"><i class="fas fa-volume-up"></i></li>
					<li class="copy"><i class="fas fa-copy"></i></li>
				</ul>
				<button class="refresh-button">New Quote</button>
			</div>
		</div>
	</div>
</div>
<div class="quote-body">
	<div class="wrapper">
		<header>To Do List</header>
		<div class="todo-center">
			<a href="/todo">You have {{tk}} incomplete task{{tk|pluralize}}</a>
		</div>
	</div>
</div>
<div class="quote-body">
	<div class="wrapper">
		<header>SPM Formula Papers</header>
		<div class="formula-content">
			{% for item in fp.all %}
			<p>
				{{item.fname}}:<br><a href="{{item.flink}}" target="_blank">{{item.flink}}</a>
			</p>
			{% endfor %}
		</div>
		
	</div>
</div>

	{% endblock %}